<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAx_YK5RmqXv9DMX4eY-ByWHmRdtogPTQY</string>
	<key>GCM_SENDER_ID</key>
	<string>62583392449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Yuxin-Lin.Bullseye</string>
	<key>PROJECT_ID</key>
	<string>bullseye-8803</string>
	<key>STORAGE_BUCKET</key>
	<string>bullseye-8803.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62583392449:ios:11b1666c82c21e63006c40</string>
</dict>
</plist>